<html>
  <head>
    <title>Order Confirmation</title>
  </head>
  <body>
    <p>
      Order Confirmation Email
    </p>
    <p>
      You ordered:
    </p>
    <p>
      Total price: {{ formattedChargedPrice }}
    </p>
  </body>
</html>