.ant-menu {
  border: none;
  font-size: 1.1em;

  .ant-menu-item {
    border: none;
    color: #000;

    &:hover {
      border: none;
    }

    a {
      color: #000;

      &:hover {
        color: $bright-blue;
      }
    }

    .anticon-home {
      font-size: 24px;
      margin-left: .5em;
      padding-top: 10px;
    }
  }

  .ant-badge {
    margin-left: 5px;
    padding-top: 5px;
  
    .ant-badge-count {
      background-color: #0072ff;
      border-radius: 5px;
  
    }
  }

  .ant-badge-not-a-wrapper:not(.ant-badge-status) {
    vertical-align: top;
  }
}

.ant-menu-horizontal {
  line-height: 3em;
}
